#land{
    max-width: 1440;
}


#header{
    
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255); 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    box-sizing: border-box; 
    font-family: Roboto, sans-serif; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    box-shadow: rgba(182, 182, 182, 0.5) 0px 0px 11px 0px; 
    border-radius: 0px; 
    position: relative; 
    z-index: 110; 
    width: auto; 
    display: flex; 
    padding: 0px 20px; 
    max-height: 80px; 
    border: none; 
    top:0px;
}
.logo{
    display: inline-block;
    max-width: 114px;
    max-height: 38px;
    transform: translateX(1100px) translateY(-4px);
    padding: 0px 0px 0px 0px;
    align-content: center;
}
.name{
    white-space: nowrap; 
    text-overflow: ellipsis; 
    margin: 0px; 
    padding-top: 0px; 
    letter-spacing: 0px; 
    font-size: 22px; 
    font-weight: 400; 
    color: rgb(30, 54, 87); 
    height: 55px; 
    line-height: 55px; 
    flex: initial; 
    font-family: Georgia; 
    padding-right: 15px; 
    cursor: pointer;

}

#body{
    background: lightgrey;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(182, 182, 182, 0.5) 0px 0px 11px 0px; 
}         
                
    
    div{ 
     
     margin:  0px;
     padding: 0px;
     } 
     .design{    
         
         background-color: lightgray;
         
     }
     #pagecontent{
         
         margin-left: 15%;
         max-width: 1440px;
       
        
     }
     #nav{
        width: 10%;
        height: auto;
        position:fixed;
    }

    #nav a {
        text-align: center;
        padding: 10px 10px ;
        margin: 10px 10px;
        display: flex;
        flex-direction: row;
        text-decoration: underline;
        font-size: 20px;
        color: darkgoldenrod;  
         
    }
    #content{
        width: auto;
        float: none;
        margin: auto;
        margin-top: 0%;
    }

     #toprow{
     display: flex;
     height: auto;
     width: 1084px;
     margin-top: 0px;
     margin-bottom: 0px;
     margin-right: 0px;
    }             
        
    #overview{
        width: 721px;
        background-color:white;
        margin:0 0 0
        
    }                       
     
     .cont1 {
        color:#000000;
        font-size: 14px;
        line-height:20px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px 0px 10px;
        padding:0px;
        font-weight:400;
        text-transform:none;
        font-family: 'Roboto', sans-serif;
    }
    .cont2{
        color:#000000;
        font-size: 14px;
        line-height:20px;
        vertical-align:top;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px;
        padding:30px 0px 0px;
        font-weight:400;
        text-transform:none;
    }

     
     .titles{
        color:#000000;
        line-height:20px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px 0px 8px;
        padding:0px 20px;
        font-weight:400;
        text-transform:none;
    }
    .title{
        font-size: 15px;
        color: rgb(86, 149, 230);
        display: block;
        line-height: 15px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    .supertitle{
        font-size: 28px;
        line-height: 33px;
        white-space: normal;
        font-weight: 500;
        color: rgb(43, 43, 43);

    }
    .subtitle{
        color:#8c8c8c;
        font-size: 14px;
        line-height:0px;
        vertical-align:top;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px;
        margin-bottom: 0px;
        font-weight:400;
        text-transform:none;
        font-size: 14px;
        color: rgb(140, 140, 140);
        display: inline-block;
    }
    .image{
        color:#000000;
        font-size: 14px;
        line-height:20px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px;
        font-weight:400;
        max-width: 721px;
        width: auto;
        height: 361px;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .textspace{
        color:#000000;
        font-size: 14px;
        line-height:20px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px;
        padding: 0px 20px 20px;
        font-weight:400;
        text-transform:none;
    }
    .text{
        font-family:'Roboto Slab';
        color:#414141;
        font-size: 19.012px;
        line-height:30px;
        letter-spacing:normal;
        vertical-align:baseline;
        word-spacing:0px;
        margin:0px;
        padding-top: 20px;
        font-weight:300;
        text-transform:none;
    }
1Snapshot

#snapshot {
    width: 343px;
    float: left;
    height: 238px;
    overflow:scroll;
    margin-left: 10px;
}
.head{
    color:#000000;
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding: 0px 16px;
    font-weight:400;
    text-transform:none;
}
.header{
    font-size: 15px;
    color: rgb(17, 75, 139);
    display: inline-block;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 16px;
}

.snaps{
    color:#000000;
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding: 0px;
    font-weight:400;
    text-transform:none;
}
.mainsnap{
    color:#000000;
    font: size 14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding: 0px 16px;
    font-weight:400;
    text-transform:none;
}
.title{
    font-size: 15px;
    color: rgb(43, 43, 43);
    display: block;
    line-height: 21px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 14px;
}
.supertitle{
    font-size: 15px;
    line-height: 21px;
    white-space: normal;
    color: rgb(90, 90, 90);
    font-weight: 500;
    margin: 0px;
}
.subtitle{
    margin-top: 8px;
    padding-left: 16px;
    color: rgb(49, 112, 196);
    list-style-type: disc;
}


! valusets

#bottomrow {
    width: 1084px;
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Roboto', sans-serif;
}

.valuesetsection{
    max-width: 721px;
    background-color: white;
    margin-bottom:  30px;
}

#valuesetcontainerout{
    font-size:14px;
    color:#777777;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px 10px;
    font-weight: 400;
    text-transform:none;
}

#valuesetcontainerin{
    font-size:14px;
    color:#000000;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:10px 0px;
    font-weight: 400;
    text-transform:none;
}

.valuesettop{
    font-size:14px;
    color:#000000;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:16px 16px 0px;
    font-weight: 400;
    text-transform:none;
}
            
.valuesetheader{
    color:#579613;
    font: size 14px;
    line-height:18px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:uppercase;
}

.allvaluesets{

    display: grid;
    grid-template-columns: auto auto;
}

.mainset{
    color:#000000;
    font: size 14px;
    line-height:20x;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px 0px 16px;
    padding:16px 16px 0px;
    font-weight:400;
    text-transform:none;
}

.valueseticon{
    color:#000000;
    font: size 14px;
    line-height:20x;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
}
            
img{
    color: rgb(173, 173, 173);
    background: none;
    user-select: none;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    border-radius: 0px;
    height: auto;
    width: auto;
    vertical-align: top;
    margin-right: 0px;
    border: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    max-height: 52px;
    line-height: 42px;
    font-weight: 300;
    padding: 12px 0px 14px;
}

.valuesetbody{
    color:#000000;
    font-size:14px;
    line-height:20px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
}

.valuesettitle{         
    font-size: 14px;
    color: rgb(43, 43, 43);
    display: block;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: 500;
} 
.valuesetsupertitle{
    color:#5a5a5a;
    font-size:15px;
    line-height:21px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:0px;
    font-weight:400;
    text-transform:none;
}





     #quotes{
         margin: 0px;
         padding: 0px;
         font-family: 'Roboto', sans-serif;
         max-width: 721px;
     }
     #quoteheader{
        font-size: 14px;
        color: #000000;
        line-height: 20px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
        margin: 0px;
        padding: 16px 16px 0px;
        font-weight: 400;
    }
    .toppart{
        color: #579613;
        font-size: 14px;
        line-height: 18px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
        margin: 0px;
        padding: 0px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .quote{
        line-height: 20px;
        font-size: 14px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
        margin: 0px 0px 16px;
        padding: 16px 16px 0px;
        font-weight: 400;
        text-transform: none;
    }
    .quoteline{
        color: #5a5a5a;
        position: relative;
        font-size: 17px;
        line-height: 27px;
        font-style: italic;
        padding: 0px;
        margin: 0px;
    }
    .bottompart{
        line-height: 20px;
        font-size: 14px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
        margin: 0px;
        padding: 0px;
        font-weight: 100;
        text-transform: none;
    }
    #quotefooter{
        color: #8c8c8c;
        line-height: 20px;
        font-size:14px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
        margin: 0px 0px 6px;
        padding: 0px 0px 0px 0px;
        font-weight: 400;
        text-transform: none;
    }

     !wizzlets

     #wizzlets {
        width: 343px;
        height: 475px;
        background-color:white;
        overflow: scroll;
        float: left; 
        font-family: 'Roboto', sans-serif;
    
    }
    #main{
        width: 350px;
        word-spacing:0px;
        margin:0px;
        padding:0px 0px 20px;
    }
    
    .submain{
        line-height:20px;
        margin:0px;
        padding:16px 16px 0px;
    }
    .wizzletname{
        font-size:14px;
        color:#579613;
        line-height:32px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px;
        padding:0px;
        text-transform:uppercase;
        font-weight: 400;
    }
    .body{
        font-size: 14px;
        line-height:20px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px 0px 16px;
        padding:16px 16px 0px;
    }
    .number{
        color:#adadad;
        font-size:48px;
        line-height:42px;
        vertical-align:baseline;
        letter-spacing:0.5px;
        word-spacing:0px;
        margin:0px;
        padding:12px 0px 14px;
        font-weight:300;
        text-transform:uppercase;
    }
    
    .title{
        font-size: 14px; 
        color: rgb(43, 43, 43); 
        display: block; 
        line-height: 21px; 
        text-transform: uppercase; 
        margin-bottom: 4px;
        font-weight: 500;
    } 
    .wtext{
        color:#5a5a5a;
        font-size:15px;
        line-height:21px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        margin:0px;
        padding:0px;
        font-weight:400;
        text-transform:none;
    }
     
     

     
        
     @media screen and (max-width: 770px) {
         
         #toprow{
             flex-direction: column;
             height: auto;
         }
         #overview {
             width: auto;
         }
         #snapshot {
             width: auto;
         }
         #body{
             margin: 0px;
         }       
         #nav a{
             float: left;
             font-size: 15px;
             margin: 0px;

         }  
         #body{
             margin: 0px;
         }

     }   
 
     @media screen and (max-width: 320px) {
         
        #toprow{
            flex-direction: column;
            height: auto;
        }
        #overview {
            width: auto;
        }
        #snapshot {
            width: auto;
        }
        #valuesets  {
            display: grid;
            grid-template-columns: auto;
         }  
         #vwizzlets {
            display: grid;
            grid-template-columns: auto;
         }
         #pagecontent{
             margin: 0px;
         }
         #body{        
            display: grid;
            grid-template-columns: auto;
            text-decoration: underline;
            color: darkgoldenrod;
            max-width: auto;
         }
         #header{
             max-width: 100%;
         }

         #nav{
             position: relative;
             width: auto;
             display: flex;
             margin: 0px;
         }
         #nav span{
             display: none;


         }
         

    }   
